@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

body{
	background:$color-secondary-2-4;
	font-family: 'Libre Baskerville', serif;
}

.content{
	background:$color-primary-1;
}
